.row {
  padding: 1em;
}

.form{
    width: 350px;
    margin: 4% auto auto auto;
    padding: 2em;
    background: white;
    color: black;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.log-form{
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 4px ;
}
.log-label {
    display: block;
    padding-bottom: 0.3em;
}

.log-field-container {
    margin-top:1em;
}

.button-holder{
    margin-top:2em;
    padding-bottom:1em;
    text-align: center;
}

.btn {
    outline: none;
    margin: 0;
    cursor: pointer;
    line-height: 100%;
    text-decoration: none;
    font-weight: bolder;
    padding: 0.8em 1em;
    color: black;
    background: white;
    border:0.2em solid transparent;
    border-bottom: 0.2em solid #808080;
    text-transform: uppercase;
}
.btn.btn-primary {
  margin:auto;
  color: white;
  background-color: #0067c8;
  border-bottom-color: #0000c6;
}

div.alert {
    margin: 0;
    line-height: 1.2em;
    padding: 0.5em 1em;
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

div.alert.errore {
    background: #ac1911;
}

.alert.errore {
    color:white;
    text-align: left;
    font-weight: bold;
}

div.alert.errore p{
    color: white;
    font-weight: bold;
}

fieldset {
  border: 0.1875em solid #f1f1f1;
}
legend {
  font-size: 1.5em;
}

input[type=text], input[type=password], input[type=number] {
    width: 100%;
    height: 25pt;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid silver;
    outline: none;
}

  .buttom-form {
    color: white;
    padding: 0.875em 1.25em;
    margin: 1% 0;
    border: none;
    cursor: pointer;
    width: 35%;
    font-size: 1.1rem;
  }

input[type=submit] {
    background-color: #4CAF50;
    margin-left: 5%;
  }
  input[type=reset] {
    background-color: #f44336;
    float: right;
    margin-right: 5%;
  }

  #error {
    color: white;
    background-color: red;
    font-weight: bold;
    border-radius: 0.5em;
  }
