#storia {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.col {
    width: 100%;
}


.col-6 {
    width: 100%;
}

.col-6:after {
    clear: both;
}
.history-picture {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding: 0;
}

#geotab {
    display: none;
}

#dati-utente label, #mod-pwd-form label {
    text-align: left;
    width: 40%;
}

.input-container {
    margin-left: 0;
    width: 100%;
}

.form-section {
    float: none;
    width: 100%;
    margin: 0;
}


.admin-div {
    min-width: 100%;
    padding: 0 !important;
}

.admin-div a {
    line-height: 2.5em;
}
