ul#menuprincipale li:not(:first-child) {
    display: none;
}

ul#menuprincipale li.icon {
    float: right;
    display: inline-block;
    font-size: 0.9em;
}

ul#menuprincipale.responsive {
    position: relative;
}

ul#menuprincipale.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
}

ul#menuprincipale.responsive li {
    float: none;
    display: inline;
}

ul#menuprincipale.responsive li a {
    display: block;
    text-align: left;
}

#scroll-top-btn {
    display: none;
}

.footer-col {
    width: 30%;
    font-size: 0.8em;
}

#menuprincipale a.icon {
    float: right;
    display: block;
}

#menuprincipale.responsive {
    position: relative;
}

#menuprincipale.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}

#menuprincipale.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin: 0 0 0 0;
}

#menuprincipale.responsive .dropdown-content {
    position: relative;
}

#menuprincipale.responsive ul.dropdown-content li a {
    text-indent: 1em;
}

#menuprincipale.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
}


.admin-div {
    width: 100%;
    margin: 1% 0 1% 0;
    padding: 0.3em;
    border-radius: 0;
}

.gite-image {
    display: none;
}

.history-picture {
    width: auto;
}

#login-form-container {
    width: auto;
}