@media screen and (max-width:768px) /*ipad dim*/ {
  #storia {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery {
    display: block;
  }

  .galleryframe {
    flex: none;
    padding: 0.25em;
  }

  .place { margin-left: 0;}

  #geotab {
    display:none;
  }

  #menuprincipale a.icon {
    float: right;
    display: block;
  }

  #menuprincipale.responsive {position: relative;}
  #menuprincipale.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #menuprincipale.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin: 0 0 0 0;
  }
  #menuprincipale.responsive .dropdown {float: none;}
  #menuprincipale.responsive .dropdown-content {position: relative;}
  #menuprincipale.responsive ul.dropdown-content li a{text-indent: 1em;}
  #menuprincipale.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  #annulla_modifica{
    margin-top:0.25em;
  }

  #sectionAccountData {
    float:left;
    padding-top:2em;
    margin-left:0;
    margin-top: auto;
  }

  div.form{
    width:auto;
    min-width: 19em;
  }

  #dati-utente label , #mod-pwd-form label{
    text-align: left;
    width: 40%;
  }
  .input-container {
    margin-left:0;
    width: 100%;
  }


  #container_form{
      width:auto;
  }

  #sectionPersonalData , #sectionAccountData {
    float:none;
    width: 100%;
    margin:0;
  }

  #sectionAccountData {
    padding-top: 1em;
  }

  #titolo {
    text-align: center;
    margin-top: 0;
}
.admin-div {
  min-width: 100%;
  margin: 0;
}
.admin-div a {
  line-height: 2.5em;
}
}

@media screen and (max-width:480px) {

  ul#menuprincipale li:not(:first-child) {
    display: none;
  }
  ul#menuprincipale li.icon {
    float: right;
    display: inline-block;
    font-size: 0.9em;
  }

  ul#menuprincipale.responsive {
    position: relative;
  }

  ul#menuprincipale.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul#menuprincipale.responsive li {
    float: none;
    display: inline;
  }
  ul#menuprincipale.responsive li a {
    display: block;
    text-align: left;
  }
  #scroll-top-btn {
    display: none;
  }
  #container_form{
    width:auto;
  }

  #sectionPersonalData , #sectionAccountData {
      float:none;
      width: 100%;
      margin:0;
  }
 
  
  .admin-div {
    width: 100%;
    margin: 0;
    padding: 0.3em;
    border-radius: 0;
  }
}
