#storia {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#titolo {
    text-align: center;
    margin-top: 0;
}

.row {
    display: block;
}

.col {
    padding: 0.25em;
}

.place {
    margin-left: 0;
}

#geotab {
    display: none;
}

#menuprincipale a.icon {
    float: right;
    display: block;
}

#menuprincipale.responsive {
    position: relative;
}

#menuprincipale.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}

#menuprincipale.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin: 0 0 0 0;
}

#menuprincipale.responsive .dropdown-content {
    position: relative;
}

#menuprincipale.responsive ul.dropdown-content li a {
    text-indent: 1em;
}

#menuprincipale.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
}

#footer {
    display: none;
}

#footermobile {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    max-height: 3.75em;
    background: #f2f2f2;
    display: table;
    table-layout: fixed;
    text-align: center;
}

#footermobile div {
    display: table-cell;
}

#annulla_modifica {
    margin-top: 0.25em;
}

#sectionAccountData {
    float: left;
    padding-top: 2em;
    margin-left: 0;
    margin-top: auto;
}

div.form {
    width: auto;
    min-width: 19em;
}

#dati-utente label, #mod-pwd-form label {
    text-align: left;
    width: 40%;
}

.input-container {
    margin-left: 0;
    width: 100%;
}

#container_form {
    width: auto;
}

#sectionPersonalData, #sectionAccountData {
    float: none;
    width: 100%;
    margin: 0;
}

#sectionAccountData {
    padding-top: 1em;
}

.admin-div {
    min-width: 100%;
    margin: 0;
}

.admin-div a {
    line-height: 2.5em;
}

.gite-image {
    display: none;
}
