#storia {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.col {
    width: 100%;
}


#geotab {
    display: none;
}

#menuprincipale a.icon {
    float: right;
    display: block;
}

#dati-utente label, #mod-pwd-form label {
    text-align: left;
    width: 40%;
}

.input-container {
    margin-left: 0;
    width: 100%;
}

.form-section {
    float: none;
    width: 100%;
    margin: 0;
}



.admin-div {
    min-width: 100%;
    margin: 1% 0 1% 0;
}

.admin-div a {
    line-height: 2.5em;
}

.gite-image {
    display: none;
}
