#storia {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#titolo {
    text-align: center;
    margin-top: 0;
}

.col {
    width: 100%;
}

.place {
    margin-left: 0;
}

#geotab {
    display: none;
}

#menuprincipale a.icon {
    float: right;
    display: block;
}

#menuprincipale.responsive {
    position: relative;
}

#menuprincipale.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}

#menuprincipale.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin: 0 0 0 0;
}

#menuprincipale.responsive .dropdown-content {
    position: relative;
}

#menuprincipale.responsive ul.dropdown-content li a {
    text-indent: 1em;
}

#menuprincipale.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
}

#annulla_modifica {
    margin-top: 0.25em;
}

#dati-utente label, #mod-pwd-form label {
    text-align: left;
    width: 40%;
}

.input-container {
    margin-left: 0;
    width: 100%;
}

.form-section {
    float: none;
    width: 100%;
    margin: 0;
}



.admin-div {
    min-width: 100%;
    margin: 1% 0 1% 0;
}

.admin-div a {
    line-height: 2.5em;
}

.gite-image {
    display: none;
}
