@media print {

  body{
   font: 10pt Georgia, "Times New Roman", Times, serif;
   line-height: 1.3;
   color:#666;
   margin-right: 0.5cm;
   margin-left: 0.5cm;
 }

 .content {
  width: 100%;
  margin: 0;
  float: none;
  }

  h1 {
    font-size: 18pt;
    margin-top: 0.3125em;
  }

  h2 {
    page-break-before: avoid;
    page-break-after: avoid;
  }

  #menuprincipale-bar, #footer, #scroll-top-btn, .find-more, .breadcrumb, .galleryframe{
    display: none;
  }

  .text {
    page-break-inside: auto;
    orphans: 3;
    widows: 3;
  }

.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto;
}
.griditem {
  color: red;
  text-align: center;
}
  #content > #clima-text > div:nth-of-type(2){
    page-break-before: always;
  }

  #geotab{
    page-break-inside: avoid;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 1em;
    padding-top: 4em;
  }

  .pic {
    max-width: 350px;
    max-height: 250px;
    page-break-inside: avoid;
    page-break-after:avoid;
  }
}