@media print {

  body{
   font: 10pt Georgia, "Times New Roman", Times, serif;
   line-height: 1.3;
   color: #666;
   margin-right: 0.5cm;
   margin-left: 0.5cm;
 }

  .content {
    width: 100%;
    margin: 0;
    float: none;
  }

  h1 {
    font-size: 18pt;
    margin-top: 0.3125em;
  }

  h2 {
    page-break-before: avoid;
    page-break-after: avoid;
  }

  #menuprincipale-bar, #footer, #scroll-top-btn, .find-more, .breadcrumb, .galleryframe, #geotab {
    display: none;
  }

  a:link, a:visited {
  	color: #000;
  }

  .text {
    page-break-inside: auto;
    orphans: 3;
    widows: 3;
  }

  .gridcontainer {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .griditem {
    color: red;
    text-align: center;
  }

  #content > #clima-text > div:nth-of-type(2){
    page-break-before: always;
  }

  .pic {
    max-width: 21.875em;
    max-height: 15.625em;
    page-break-inside: avoid;
    page-break-after:avoid;
  }
}
