@media print {
    /* body and content settings*/
    body {
        font: 10pt Georgia, "Times New Roman", Times, serif;
        line-height: 1.3;
        color: #666;
        margin-right: 0.5cm;
        margin-left: 0.5cm;
    }

    /* h1 and h2 */
    h1 {
        font-size: 	1.5em;
        margin-top: 0.3125em;
    }

    h2 {
        page-break-before: avoid;
        page-break-after: avoid;
    }

    #content {
        width: 100%;
        margin: 0;
        float: none;
    }



    /* what must not be displayed */
    #menuprincipale-bar, #footer, #scroll-top-btn, .find-more, .breadcrumb, .col, #geotab {
        display: none;
    }

    #geografia-text, #clima-text, #storia-text {
        display: block;
    }

    /* link color*/
    a:link, a:visited {
        color: #000;
    }

    /* text settings */
    .text {
        page-break-inside: auto;
        orphans: 3;
        widows: 3;
    }

    .gridcontainer {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .griditem {
        color: red;
        text-align: center;
    }

    /* setting the clima-text content */
    #content > #clima-text > div:nth-of-type(2) {
        page-break-before: always;
    }

    #searchform {
        display: none;
    }

    /* picture settings */
    .picture {
        max-width: 21.875em;
        max-height: 15.625em;
        page-break-inside: avoid;
        page-break-after: avoid;
    }
}
