
* {
  margin: 0;
  font-family: Arial;
}

body {
  text-align: justify;
  font-size: 100%;
  background-color: white;
}

.header {
  position: relative;
	color: white;
}

.header-picture {
	background-image: url("../img/background.jpg");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 15em;
}

.header-title {
  position: absolute;
	background-color: #00000080 !important;
  width: 100%;
	bottom: 0;
}

.footer {
  position: relative;
  text-align: center;
  color: white;
  font-size: 1em;
  padding-top: 1em;
  bottom: 0;
  left: 0;
  height: 3em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#copyright {
  width: 33.3%;
  float: left;
}

#fast-link {
  width: 33.3%;
  float: right;
  color: white;
}

.header-title h1,  .header-title h2{
  padding: 1%;
  padding-top: 0.5%;
  padding-bottom: 0;
  font-size: 3em;
  margin: 0.25%;

  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.header-title h2{
	font-size: 1.5em;
  padding-bottom: 0.5%;
}

/*Add an active class to highlight the current page  #4CAF50; */
.active {
    background-color: #009033;
    color: white;
}

ul.breadcrumb {
  list-style: none;
	padding: 0.75%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    content: "\002771  ";
}

.content {
  line-height: 2em;
  word-spacing: 0;
	padding: 1.5%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.content > h1 {
	font-size: 2em;
}

.text {
  font-size: 1.2em;
	margin-top: 1%;
  margin-bottom: 4%;
}

.title {
  font-size: 1.5em;
}

.section {
  margin-top: 1%;
  margin-bottom: 1%;
}

#storia {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
}

.galleryframe {
  flex: auto;
  padding: 0.25em;
}

.floatright{
  position: relative;
  float: right;
  padding-top: 0%;
  padding-left: 2%;
}

.place {
  margin-left: 10%;
  margin-top: 4%;
}

.pic {
  height: auto;
  max-width: 100%;
  margin-bottom: 0%;
}

.storiapic{
  width: 20em;
}

.climapic{
  width: 28em;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #2EAD0EFF;
  opacity: 0.5;
  filter: alpha(opacity=50%);
}

a:active {
    text-decoration: none;
    color: #000;
}

.topnav-bar {
    background-color: #000;
}
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/* Float the list items side by side */
ul.topnav li {
  float: left;
}

/* Style the links inside the list items */
ul.topnav li a {
   display: inline-block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   transition: 0.3s;
   font-size: 1.1em;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 600 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:728px) {

  .place { margin-left: 0;}

  .floatright{
    float: none;
    padding-left: 0;
  }
}

@media screen and (max-width:600px) {

  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
    font-size: 0.9em;
  }

  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
