
* {
  margin: 0;
  font-family: Arial;
}

body {
  font-size: 100%;
  background-color: white;
}

.header {
  position: relative;
	color: white;
}

.header-picture {
	background-image: url("../img/background.jpg");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 20em;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background-position: center;
  background-size: cover;
  background-color: #000000FF;

  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
  position: absolute;
	background-color: #00000080 !important;
  width: 100%;
	bottom: 0;
}

.header-title h1,  .header-title h2{
  padding: 1%;
  padding-top: 0.5%;
  padding-bottom: 0;
  font-size: 3em;
  margin: 0.25%;

  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.header-title h2{
	font-size: 1.5em;
  padding-bottom: 0.5%;
}

/*Add an active class to highlight the current page  #4CAF50; */
.active {
    background-color: #009033;
    color: white;
}

.content {
  line-height: 1.5em;
  word-spacing: 0;
	padding: 2.5%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
	font-size: 2em;
}

.text {
  font-size: 1.2em;
	margin-top: 1%;
  margin-bottom: 4%;
}

.title {
  font-size: 1.5em;
}

.section {
  margin-top: 1%;
  margin-bottom: 1%;
}

.portalrow {
  display: flex;
}

.portal {
  flex: auto;
  padding: 0.25em;
}

#storia {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.place {
  margin-left: 10%;
  margin-top: 4%;
}

.pic {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  margin-bottom: 1%;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #2EAD0EFF;
  opacity: 0.5;
  filter: alpha(opacity=50%);
}

a:active {
    text-decoration: none;
    color: #000;
}

.sidepic {
  width: 40%;
  float: right;
  padding-left: 2%;
}

.topnav-bar {
    background-color: #000;
}
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/* Float the list items side by side */
ul.topnav li {
  float: left;
}

/* Style the links inside the list items */
ul.topnav li a {
   display: inline-block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   transition: 0.3s;
   font-size: 1.1em;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:600px) {
  .place { margin-left: 0;}
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
    font-size: 0.9em;
  }

  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
