@import url('https://fonts.googleapis.com/css?family=Raleway');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}

#container {
    min-height: 100%;
    position: relative;
}

.header {
    position: relative;
    color: white;
}

.header-picture {
    background-image: url("../img/background.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15em;
    z-index: 0;
}

.header-title {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    bottom: 0;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #D3D3D3;
    overflow: hidden;
}


#not-found-404 {
    width: auto;
    text-align: center;
}

.header-title h1,
.header-title h2 {
    padding: 1%;
    padding-top: 0.5%;
    padding-bottom: 0;
    font-size: 3em;
    margin: 0.25%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.header-title h2 {
    font-size: 1.5em;
    padding-bottom: 0.5%;
}

.active {
    background-color: #097a31;
    color: white;
}

ul.breadcrumb {
    list-style: none;
}

ul.breadcrumb a {
    text-decoration: underline;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li:first-child::before {
    content: "Ti trovi in: ";
}

ul.breadcrumb li + li:before {
    content: " > ";
}

#content {
    padding: 1.5% 1.5% 5em;
    line-height: 2em;
    word-spacing: 0;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

#content > h1 {
    font-size: 2em;
}

.text {
    font-size: 1.2em;
    margin-top: 1%;
    margin-bottom: 4%;
}

.section {
    margin-top: 1%;
    margin-bottom: 1%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 31.30%;
    margin: 1%;
}

.form-column {
    width: 48.0%;
    margin: 0;
}

.float-right {
    position: relative;
    float: right;
    padding-top: 0;
    padding-left: 2%;
}

.history-picture {
    width: 35em;
}

a:link {
    text-decoration: underline;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

.gallery-dl > dt {
    font-weight: bold;
}

.gallery-dl > dd:first-child {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.gallery-dl > dt:not(:first-child)::after {
    content: ":";
}

.gallery-dl > dd {
    margin-left: 0;
}

.find-more {
    border-bottom: solid 0.125em #4ca504;
    font-size: 1.1em !important;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 6.25em;
    text-decoration: underline !important;
    font-weight: bold;
}

.col li:first-of-type,
.col a {
    font-size: 1.5em;
}

a:active {
    text-decoration: none;
    color: #000;
}

#menuprincipale-bar {
    background-color: #000;
}
#dropdown-trip {
    min-width: 10.25em;
}

#scroll-top-btn {
    position: fixed;
    bottom: 4.0625em;
    right: 1.875em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #943838;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 0.9375em;
    border-radius: 0.625em;
    font-size: 1.125em;
    text-decoration: underline;
}
ul#menuprincipale li.button-right {
    float: right;
}

.dropdown > a:after {
    content: "\25BC";
    font-size: 75%;
    color: #f2f2f2;
    padding-left: 0.5em;
}

ul#menuprincipale {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-width: 1024px;
    margin-left: auto;
    font-weight: bold;
    margin-right: auto;
}

ul#menuprincipale li {
    float: left;
}

ul#menuprincipale li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.1em;
}

ul#menuprincipale li.icon {
    display: none;
}

.dropdown-content {
    display: none;
    margin: 0;
    position: absolute;
    background-color: #333;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

#menuprincipale a:hover, .dropdown a:hover {
    background-color: #666;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul.dropdown-content {
    padding-left: 0;
    padding-right: 0;
}

ul.dropdown-content li {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#descrizione {
    min-height: 4em;
}

div.riepprenotazione {
    text-align: left;
    padding: 0.5em 2em 1em 2em;
}

.riepprenotazione dl {
    margin: 0;
    padding-bottom: 0.5em;
}

.riepprenotazione dt {
    color: #666;
    float: left;
    clear: left;
    margin-right: 0.4em;
}

.riepprenotazione dd {
    font-weight: bold;
    margin-top: 0;
}

dl {
    border: 0.1em solid transparent;
}

dd {
    margin-top: .3em;
    margin-bottom: .3em;
}

#geotab {
    width: 15em;
}

#reservePosti {
    width: 4em;
}

#riepilogo {
    text-align: left;
}

.skip {
    position: absolute;
    top: -62.5em;
    left: -62.5em;
    height: 0.0625em;
    width: 0.0625em;
    text-align: left;
    overflow: hidden;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
}

.admin-div {
    margin: 0.5%;
    padding: 0.5%;
}

.admin-div a {
    font-size: 1em;
}

.admin-div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}

div.alert {
    /*margin: 0 0 2% 0; */
    display: none;
    color: white;
    font-size: 1.2em;
    padding: 0.3em;
    font-weight: bold;
    border-radius: 0.4em;
}

div.alert.errore.login, div.alert.show {
    display: block;
}

.alert a {
    color: white;
    text-decoration: underline;
}

.alert.errore {
    background: #ac1911;
}

div.alert p {
    margin: 0;
}


.alert.warning {
    background: rgb(238, 147, 0);
}

.alert.success {
    background: #069906;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.mobile-align {
    text-align: right;
}

.row {
    padding: 0;
}


.col-6 {
    float: left;
    width: 48.00%;
    margin: 1%;
}

img.same-size {
    overflow: hidden;
    max-width: 25em;
}

.trip {
    padding: 1%;
}

.log-label {
    display: block;
    padding-bottom: 0.3em;
}

.form-field {
    margin: 3% 0 0 0;
}

.card-spaced {
    padding: 1%;
}

a.center-block {
    width: 7em;
}

.input-container {
    margin-left: 27%;
    width: 70%;
}

#login-form-container {
    width: 25em;
    margin: auto;
    padding: 1%;
}

.disabilita:disabled {
    color: #706f6e;
    border: 0;
    border-bottom: 0.125em solid transparent;
}

#indirizzo-container,
#citta-container {
    float: left;
    width: 78%;
}

#civico-container,
#cap-container {
    text-align: right;
}

#civico-container input,
#cap-container input {
    width: 4em;
    text-align: right;
}

fieldset {
    border: 0;
}

.button-holder {
    margin-top: 2em;
    padding-bottom: 1em;
    text-align: center;
}

.btn {
    outline: none;
    margin: 0;
    cursor: pointer;
    line-height: 100%;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    padding: 0.6em .8em;
    color: black;
    background: white;
    border: 0.2em solid transparent;
    font-size: 1em;
}

.btn.btn-primary {
    margin: auto;
    color: white;
    background-color: #0067c8;
    border-bottom-color: #0000c6;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    overflow: auto;
}

.inline-list {
    margin: 0;
    padding-bottom: 0.5em;
}

.inline-list dt {
    color: #666;
    float: left;
    clear: left;
    margin-right: 0.4em;
}

.inline-list dd {
    font-weight: bold;
    margin-top: 0;
}

.btn.btn-red {
    margin: auto;
    color: white;
    background-color: #943838;
}

.btn.btn-success {
    margin: auto;
    color: white;
    background-color: #009457;
}

#reg-sistemreg-sistema {
    color: #0057a8;
}

legend {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    height: 25pt;
    background-color: transparent;
    border: 0;
    border-bottom: 0.125em solid silver;
    outline: none;
}

input.error {
    border-bottom-color: red;
}

.titolo-form {
    width: 100%;
}

#mod-pwd-form label {
    margin-top: 0;
    width: 25%;
    float: left;
    text-align: right;
}
#searchform {
    padding: 1%;
}
#searchform fieldset {
    border: none;
    padding: 0;
}

#searchform legend {
    margin-bottom: 0;
}

#dati-utente label, .imp-label {
    float: left;
    margin-top: 0.5em;
    font-weight: bold;
    width: 25%;
    padding-bottom: 0;
    text-align: right;
}

/*@media screen and (max-width: 992px) {
}*/

@media screen and (max-width: 768px) {
    #storia {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    a.center-block {
        width: auto;
    }

    .col {
        width: 100%;
        margin: 0;
    }

    #login-form-container {
        width: 100%;
    }

    .col-6 {
        width: 100%;
    }

    #galleria {
        font-size: 1.5em;
    }

    #galleria > div {
        margin-bottom: 2em;
    }

    .history-picture {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        padding: 0;
    }

    #geotab {
        display: none;
    }

    #dati-utente label, #mod-pwd-form label {
        text-align: left;
        width: 40%;
    }

    .input-container {
        margin-left: 0;
        width: 100%;
    }

    .form-section {
        float: none;
        width: 100%;
        margin: 0;
    }

    #footer p:nth-last-child(2), #footer p:nth-last-child(1) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    ul#menuprincipale li:not(:first-child) {
        display: none;
    }

    ul#menuprincipale li.icon {
        float: right;
        display: inline-block;
        font-size: 0.9em;
    }

    ul#menuprincipale.responsive {
        position: relative;
    }

    ul#menuprincipale.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul#menuprincipale.responsive li {
        float: none;
        display: inline;
    }

    ul#menuprincipale.responsive li a {
        display: block;
        text-align: left;
    }

    #menuprincipale a.icon {
        float: right;
        display: block;
    }

    #menuprincipale.responsive {
        position: relative;
    }

    #menuprincipale.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    #menuprincipale.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin: 0 0 0 0;
    }

    #menuprincipale.responsive .dropdown-content {
        position: relative;
    }

    #menuprincipale.responsive ul.dropdown-content li a {
        text-indent: 1em;
    }

    #menuprincipale.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

    #content {
        padding-left: 0;
        padding-right: 0;
    }

    .admin-div {
        margin-top: 1%;
    }

}

@media screen and (max-width: 480px) {
    #scroll-top-btn {
        display: none;
    }
}
 