@font-face {
  font-family: GeosansLight;
  src: url("../fonts/GeosansLight.woff");
}
* {
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
}

body {
  background-image: url("../img/bg.png");
  background-size: cover;
  margin: auto;
  max-width: 1024px;
  background-position: top;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
#header {
  font-family: GeosansLight;
  color: white;
  text-align: center;
}
#nav {
  background-color: rgba(65,152,115);
}

#nav ul {
  font-family: GeosansLight;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#nav a:hover {
  background-color: white;
  color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 7px 7px 0 0;
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  #header {
    font-size: 4vw;
    background-image: url("../img/background_header.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #header h1 {
    background: rgba(255, 255, 255, 0.2);
    font-size: 6vw;
    text-shadow: 3px 3px #121709;
  }
  #header h2 {
    font-size: 2vw;
    text-shadow: 2px 2px #121709;
  }
  #nav li {
    display: inline-block;
    padding: 0.8em 2% 0.8em 2%;
  }
  #menu_mobile {
    display: none;
  }
  #nav a {
    padding: 0.8em;
    /* border: 1px solid red; */
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  #content {
    background-color: rgba(255, 255, 255, 0.98);
    padding: 2%;
  }

  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  figure figcaption {
    font-size: 1vw;
    text-align: center;
  }
  #content {
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
  #content > p {
    text-align: justify;
  }
  #mappa_colli {
    float: left;
    margin: 0.4em;
  }
}
