@import url('https://fonts.googleapis.com/css?family=Raleway');
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}

#container {
    min-height: 100%;
    position: relative;
}

.header {
    position: relative;
    color: white;
}

.header-picture {
    background-image: url("../img/background.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15em;
    z-index: 0;
}

.header-title {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    bottom: 0;
}

#footer {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    max-height: 3.75em;
    background: #f2f2f2;
    display: table;
    table-layout: fixed;
    text-align: center;
}

#footer div {
    display: table-cell;
}

.header-title h1,
.header-title h2 {
    padding: 1%;
    padding-top: 0.5%;
    padding-bottom: 0;
    font-size: 3em;
    margin: 0.25%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.header-title h2 {
    font-size: 1.5em;
    padding-bottom: 0.5%;
}

.active {
    background-color: #097a31;
    color: white;
}

ul.breadcrumb {
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li:first-child::before {
    content: "Ti trovi in: ";
}

ul.breadcrumb li+li:before {
    content: " > ";
}

#content {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 5em;
    line-height: 2em;
    word-spacing: 0;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#content>h1 {
    font-size: 2em;
}

.text {
    font-size: 1.2em;
    margin-top: 1%;
    margin-bottom: 4%;
}

.section {
    margin-top: 1%;
    margin-bottom: 1%;
}

#storia {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    display: flex;
}

.galleryframe {
    display: block;
    flex: auto;
    padding: 2%;
}

.float-right {
    position: relative;
    float: right;
    padding-top: 0%;
    padding-left: 2%;
}

.place {
    margin-left: 10%;
    margin-top: 4%;
}

.pic {
    height: auto;
    max-width: 100%;
}

.pic-luoghi {
    height: auto;
    max-width: 100%;
    margin-bottom: 0%;
}

.storiapic {
    width: 25em;
}

.climapic {
    width: 28em;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

.galleryframe dl>dt {
    font-display: fallback;
    font-weight: bold;
}

.galleryframe dl>dd:first-child {
    font-display: fallback;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.galleryframe dl>dt:not(:first-child)::after {
    content: ":";
}

.galleryframe dl>dd {
    margin-left: 0;
}

.galleryframe-active {
    background-color: greenyellow;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.find-more {
    color: white;
    padding: 0.3em 0.4em;
    margin: 1% 0;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    background: /*#32B232*/
    #097a31;
    text-decoration: underline;
}

.galleryframe li:first-of-type,
.galleryframe a {
    font-size: 1.5em;
}

a:active {
    text-decoration: none;
    color: #000;
}

#menuprincipale-bar {
    background-color: #000;
}

ul#menuprincipale li.button-right {
    float: right;
}

ul#menuprincipale {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-width: 1024px;
    margin-left: auto;
    font-weight: bold;
    margin-right: auto;
}

#scroll-top-btn {
    position: fixed;
    bottom: 4.0625em;
    right: 1.875em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #943838;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 0.9375em;
    border-radius: 0.625em;
    font-size: 1.125em;
    text-decoration: underline;
}

ul#menuprincipale li {
    float: left;
}

ul#menuprincipale li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.1em;
}

ul#menuprincipale li a:hover {
    background-color: #555555;
}

ul#menuprincipale li.icon {
    display: none;
}

.dropdown-content {
    list-style-type: none;
    display: none;
    margin: 0;
    position: absolute;
    background-color: #000;
    box-shadow: 0em 0.5em 1em 0em rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#menuprincipale a:hover,
.dropdown a:hover {
    background-color: #555;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul.dropdown-content {
    padding-left: 0;
    padding-right: 0;
}

ul.dropdown-content li {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

ul.dropdown-content li a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    padding: 0.625em 0.3125em;
    border-style: solid;
    border-width: 0.0625em;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg th {
    font-size: 0.875em;
    font-weight: normal;
    padding: 0.625em 0.3125em;
    border-style: solid;
    border-width: 0.0625em;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg .tg-107g {
    border-color: #9b9b9b;
    text-align: left
}

.tg .tg-aphi {
    background-color: #ffcc67;
    border-color: #9b9b9b;
    text-align: center
}

.tg .tg-jp7n {
    background-color: #cdcdcd;
    border-color: #9b9b9b;
    text-align: center;
    vertical-align: top
}

.tg .tg-2fdn {
    border-color: #9b9b9b;
    text-align: left;
    vertical-align: top
}

.tg .tg-ai30 {
    background-color: #fd6864;
    border-color: #9b9b9b;
    text-align: left;
    vertical-align: top
}

.tg .tg-hd3d {
    background-color: #fffe65;
    border-color: #9b9b9b;
    text-align: center
}

.tg .tg-bqpl {
    background-color: #67c748;
    border-color: #9b9b9b;
    text-align: center;
    vertical-align: top
}

.tg .tg-ue2u {
    background-color: #68cbd0;
    border-color: #9b9b9b;
    text-align: center
}

div.attivita {
    margin-top: .3em;
    line-height: 1.2;
    padding-left: .8em;
    text-align: justify;
    padding-bottom: 0.8em;
    border-bottom: 0.1em solid black;
    border-color: #000000;
}

dl {
    border: 0.1em solid transparent;
}

dd {
    margin-top: .3em;
    margin-bottom: .3em;
}

.btnTrip {
    font-size: 1.2em;
    border: 0.1em solid transparent;
    color: black;
}

.btnTrip>a {
    color: red;
    text-transform: uppercase;
    text-decoration: underline;
}

.btnTrip>a:hover {
    color: red;
    font-weight: bolder;
    text-decoration: underline;
}

#reservePosti {
    width: 4em;
}

.tabcontent {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.container_form {
    width: 700px;
    margin-bottom: 60px;
}

#riepilogo {
    text-align: left;
}

.log-label-riep {
    font-weight: bolder;
}