@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {
 margin:0;
 padding:0;
 height: 100%;
 font-size: 1em;
 font-family: 'Raleway', sans-serif;
 text-align: justify;
}

#container {
 min-height: 100%;
 position: relative;
}

.header {
  position: relative;
  color: white;
}

.header-picture {
	background-image: url("../img/background.jpg");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 15em;
}

.header-title {
  position: absolute;
  background-color: #00000080 !important;
  width: 100%;
  bottom: 0;
}

#footer {
 position:absolute;
 bottom:0;
 margin: 0;
 width:100%;
 max-height:60px;
 background: #f2f2f2;
 display: table;
 table-layout: fixed;
 text-align: center;
}

#footer div {
  display: table-cell;
}


.header-title h1, .header-title h2 {
  padding: 1%;
  padding-top: 0.5%;
  padding-bottom: 0;
  font-size: 3em;
  margin: 0.25%;

  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.header-title h2{
	font-size: 1.5em;
  padding-bottom: 0.5%;
}

.active {
  background-color: #097a31;
  color: white;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li:first-child::before {
  content: "Ti trovi in: ";
}


ul.breadcrumb li+li:before {
  content: " > ";
}

#content {
  padding-left: : 1.5%;
  padding-right: 1.5%;
  padding-top: 1.5%;
  padding-bottom: 60px;
  line-height: 2em;
  word-spacing: 0;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#content > h1 {
	font-size: 2em;
}

.text {
  font-size: 1.2em;
  margin-top: 1%;
  margin-bottom: 4%;
}

.section {
  margin-top: 1%;
  margin-bottom: 1%;
}

#storia {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
}

.galleryframe {
  display: block;
  flex: auto;
  padding: 2%;
}

.float-right{
  position: relative;
  float: right;
  padding-top: 0%;
  padding-left: 2%;
}

.place {
  margin-left: 10%;
  margin-top: 4%;
}

.pic {
  height: auto;
  max-width: 100%;
}

.pic-luoghi {
  height: auto;
  max-width: 100%;
  margin-bottom: 0%;
}

.storiapic {
  width: 25em;
}

.climapic {
  width: 28em;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

.galleryframe dl > dt {
  font-size: 1.3em;
  font-display: fallback;
}

.galleryframe dl > dd {
    margin-left: 0;
}

/*@keyframes animation-for-gallery {
  33% {
    transform: rotate(10deg);
  }
  33% {
    transform: rotate(-10deg);
  }
  33% {
    transform: rotate(-10deg);
  }
  }*/

  .galleryframe-active {
    background-color: greenyellow;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
 /* .galleryframe:hover {
    text-decoration: none;
    box-shadow: inset 0 0 20px rgb(60,179,113);
    filter: alpha(opacity=50);
    opacity: 0.5;
    content: Visita;
    animation: animation-for-gallery 2s;
    animation-iteration-count: 1;
    cursor: pointer;
}
*/
.find-more {
  color: white;
  padding: 0.3em 0.4em;
  margin: 1% 0;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  background: /*#32B232*/ #097a31;
}


.galleryframe li:first-of-type, .galleryframe a {
  font-size: 1.5em;
}
a:active {
  text-decoration: none;
  color: #000;
}

.topnav-bar {
  background-color: #000;
}
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-width: 1024px;
  margin-left: auto;
  font-weight: bold;
  margin-right: auto;
}

#top {
  display: hidden;
}

 #scroll-top-btn {
  position: fixed;
  bottom: 4.0625em;
  right: 1.875em;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #943838;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}


/* Float the list items side by side */
ul.topnav li {
  float: left;
}

/* Style the links inside the list items */
ul.topnav li a {
 display: inline-block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 transition: 0.3s;
 font-size: 1.1em;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 600 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */

.dropdown-content{
  list-style-type: none;
  display: none;
  margin: 0;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topnav a:hover, .dropdown:hover {
  background-color: #555;
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: black;
}

ul.dropdown-content{
  padding-left: 0;
  padding-right: 0;
}

ul.dropdown-content li{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

ul.dropdown-content li a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

@media screen and (max-width:600px) {

  #storia {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery {
    display: block;
  }

  .galleryframe {
    flex: none;
    padding: 0.25em;
  }

  .place { margin-left: 0;}

  #geotab {
    display:none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

}

@media screen and (max-width:480px) {

  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
    font-size: 0.9em;
  }

  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

@media print {

  body{
   font: 9.5pt Georgia, "Times New Roman", Times, serif;
   line-height: 1.3;
   color:#666;
   margin-right: 0.5cm;
   margin-left: 0.5cm;
 }

 .este {
   font: 9.3pt Georgia, "Times New Roman", Times, serif;
   line-height: 1.3;
   color:#666;
   margin-right: 0.5cm;
   margin-left: 0.5cm;
 }

 .content {
  width: 100%;
  margin: 0;
  float: none;
}

h1 {
  font-size: 18pt;
  margin-top: 5px;
}

h2 {
  page-break-before: avoid;
  page-break-after: avoid;
}

.topnav-bar, #footer {
  display: none;
}

.text {
  page-break-inside: auto;
  orphans: 3;
  widows: 3;
}

#geotab{
  page-break-inside: avoid;
}

.pic {
  max-width: 350px;
  max-height: 250px;
  page-break-inside: avoid;
  page-break-after:avoid;
}
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;
}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-107g{border-color:#9b9b9b;text-align:left}
.tg .tg-aphi{background-color:#ffcc67;border-color:#9b9b9b;text-align:center}
.tg .tg-jp7n{background-color:#cdcdcd;border-color:#9b9b9b;text-align:center;vertical-align:top}
.tg .tg-2fdn{border-color:#9b9b9b;text-align:left;vertical-align:top}
.tg .tg-ai30{background-color:#fd6864;border-color:#9b9b9b;text-align:left;vertical-align:top}
.tg .tg-hd3d{background-color:#fffe65;border-color:#9b9b9b;text-align:center}
.tg .tg-bqpl{background-color:#67c748;border-color:#9b9b9b;text-align:center;vertical-align:top}
.tg .tg-ue2u{background-color:#68cbd0;border-color:#9b9b9b;text-align:center}
