@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {
 margin:0;
 padding:0;
 height: 100%;
 font-size: 1em;
 font-family: 'Raleway', sans-serif;
 text-align: justify;
}

#container {
 min-height: 100%;
 position: relative;
}

.header {
  position: relative;
  color: white;
}

.header-picture {
	background-image: url("../img/background.jpg");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 15em;
  z-index: 0;
}

.header-title {
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  bottom: 0;
}

#footer {
 position:absolute;
 bottom:0;
 margin: 0;
 width:100%;
 max-height: 3.75em;
 background: #f2f2f2;
 display: table;
 table-layout: fixed;
 text-align: center;
}

#footer div {
  display: table-cell;
}


.header-title h1, .header-title h2 {
  padding: 1%;
  padding-top: 0.5%;
  padding-bottom: 0;
  font-size: 3em;
  margin: 0.25%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.header-title h2 {
	font-size: 1.5em;
  padding-bottom: 0.5%;
}

.active {
  background-color: #097a31;
  color: white;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li:first-child::before {
  content: "Ti trovi in: ";
}


ul.breadcrumb li+li:before {
  content: " > ";
}

#content {
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 1.5%;
  padding-bottom: 5em;
  line-height: 2em;
  word-spacing: 0;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#content > h1 {
	font-size: 2em;
}

.text {
  font-size: 1.2em;
  margin-top: 1%;
  margin-bottom: 4%;
}

.section {
  margin-top: 1%;
  margin-bottom: 1%;
}

#storia {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
}

.galleryframe {
  display: block;
  flex: auto;
  padding: 2%;
}

.float-right {
  position: relative;
  float: right;
  padding-top: 0%;
  padding-left: 2%;
}

.place {
  margin-left: 10%;
  margin-top: 4%;
}

.pic {
  height: auto;
  max-width: 100%;
}

.pic-luoghi {
  height: auto;
  max-width: 100%;
  margin-bottom: 0%;
}

.storiapic {
  width: 25em;
}

.climapic {
  width: 28em;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

.galleryframe dl > dt {
  font-size: 1.3em;
  font-display: fallback;
}

.galleryframe dl > dd {
    margin-left: 0;
}

  .galleryframe-active {
    background-color: greenyellow;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

.find-more {
  color: white;
  padding: 0.3em 0.4em;
  margin: 1% 0;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  background: /*#32B232*/ #097a31;
  text-decoration: underline;
}


.galleryframe li:first-of-type, .galleryframe a {
  font-size: 1.5em;
}
a:active {
  text-decoration: none;
  color: #000;
}

.topnav-bar {
  background-color: #000;
}
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-width: 1024px;
  margin-left: auto;
  font-weight: bold;
  margin-right: auto;
}

 #scroll-top-btn {
  position: fixed;
  bottom: 4.0625em;
  right: 1.875em;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #943838;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 0.9375em;
  border-radius: 0.625em;
  font-size: 1.125em;
  text-decoration: underline;
}

ul.topnav li {
  float: left;
}

/* Style the links inside the list items */
ul.topnav li a {
 display: inline-block;
 color: #f2f2f2;
 text-align: center;
 padding: 0.875em 1em;
 text-decoration: none;
 transition: 0.3s;
 font-size: 1.1em;
}

ul.topnav li a:hover {background-color: #555555;}

ul.topnav li.icon {
  display: none;
}

ul.topnav li:nth-last-child(-n+2) {
  float: right;
}

/* When the screen is less than 600 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */

.dropdown-content {
  list-style-type: none;
  display: none;
  margin: 0;
  position: absolute;
  background-color: #000;
  box-shadow: 0em 0.5em 1em 0em rgba(0,0,0,0.2);
  z-index: 1;
}

.topnav a:hover, .dropdown a:hover {
  background-color: #555;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul.dropdown-content {
  padding-left: 0;
  padding-right: 0;
}

/*
ul.dropdown-content li {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
*/

ul.dropdown-content li a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

@media screen and (max-width:600px) {

  #storia {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery {
    display: block;
  }

  .galleryframe {
    flex: none;
    padding: 0.25em;
  }

  .place { margin-left: 0;}

  #geotab {
    display:none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

}

@media screen and (max-width:480px) {

  ul.topnav li:not(:first-child) {
    display: none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
    font-size: 0.9em;
  }

  ul.topnav.responsive {
    position: relative;
  }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  #scroll-top-btn {
    display: none;
  }
}

@media print {

  body{
   font: 10pt Georgia, "Times New Roman", Times, serif;
   line-height: 1.3;
   color:#666;
   margin-right: 0.5cm;
   margin-left: 0.5cm;
 }

 .content {
  width: 100%;
  margin: 0;
  float: none;
  }

  h1 {
    font-size: 18pt;
    margin-top: 0.3125em;
  }

  h2 {
    page-break-before: avoid;
    page-break-after: avoid;
  }

  .topnav-bar, #footer, #scroll-top-btn, .find-more, .breadcrumb, .galleryframe{
    display: none;
  }

  .text {
    page-break-inside: auto;
    orphans: 3;
    widows: 3;
  }

  #content > #clima-text > div:nth-of-type(2){
    page-break-before: always;
  }

  #geotab{
    page-break-inside: avoid;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 1em;
    padding-top: 4em;
  }

  .pic {
    max-width: 350px;
    max-height: 250px;
    page-break-inside: avoid;
    page-break-after:avoid;
  }
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;
}
.tg td{font-family:Arial, sans-serif;font-size:0.875em;padding:0.625em 0.3125em;border-style:solid;border-width:0.0625em;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:0.875em;font-weight:normal;padding:0.625em 0.3125em;border-style:solid;border-width:0.0625em;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-107g{border-color:#9b9b9b;text-align:left}
.tg .tg-aphi{background-color:#ffcc67;border-color:#9b9b9b;text-align:center}
.tg .tg-jp7n{background-color:#cdcdcd;border-color:#9b9b9b;text-align:center;vertical-align:top}
.tg .tg-2fdn{border-color:#9b9b9b;text-align:left;vertical-align:top}
.tg .tg-ai30{background-color:#fd6864;border-color:#9b9b9b;text-align:left;vertical-align:top}
.tg .tg-hd3d{background-color:#fffe65;border-color:#9b9b9b;text-align:center}
.tg .tg-bqpl{background-color:#67c748;border-color:#9b9b9b;text-align:center;vertical-align:top}
.tg .tg-ue2u{background-color:#68cbd0;border-color:#9b9b9b;text-align:center}
