@font-face {
  font-family: GeosansLight;
  src: url("../fonts/GeosansLight.woff");
}
* {
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
}

body {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: top;
}

#nav {
  background-color: rgba(65,152,115);
}

#nav ul {
  font-family: GeosansLight;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#nav a:hover {
  background-color: white;
  color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

@media only screen and (min-width: 1024px) {
  #container {
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
  }
  #header {
    font-family: GeosansLight;
    color: white;
    text-align: center;
    font-size: 4vw;
    background-image: url("../img/background_header.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #header h1 {
    font-size: 6vw;
  }
  #header h2 {
    font-size: 2vw;
  }
  #nav li {
    display: inline-block;
    padding: 0.8em 2% 0.8em 2%;
  }

  #nav a {
    padding: 0.8em;
    /* border: 1px solid red; */
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  #content {
    background-color: #a1f700;
    background-image: url("../img/textured-paper.png");
    padding: 2%;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  figure figcaption {
    font-size: 1vw;
    text-align: center;
  }
}
